.goal-view-container {
  height: 100%;
  width: 100%; }
  .goal-view-container .page-title-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 110px;
    background: #333644;
    justify-content: center;
    align-items: center; }
    .goal-view-container .page-title-container h1 {
      color: #f2f2f2;
      text-transform: uppercase;
      font-weight: 200; }
  .goal-view-container .goal-list {
    margin-top: 110px;
    width: 100%; }
  .goal-view-container .goal-item {
    display: flex;
    border-bottom: 1px solid #cccccc; }
    .goal-view-container .goal-item.editable input:hover, .goal-view-container .goal-item.editable textarea:hover {
      background: #e6e6e6; }
    .goal-view-container .goal-item.editable input:focus, .goal-view-container .goal-item.editable textarea:focus {
      background: #d9d9d9; }
    .goal-view-container .goal-item.editable input {
      border-bottom: 1px solid #cdcdcd; }
    .goal-view-container .goal-item.editable textarea {
      border: 1px solid #cdcdcd; }
    .goal-view-container .goal-item:hover .button-container {
      opacity: 1;
      pointer-events: auto; }
    .goal-view-container .goal-item .goal-index {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 110px;
      text-align: right;
      color: #333644; }
      .goal-view-container .goal-item .goal-index h2 {
        font-size: 5em;
        font-weight: 100; }
    .goal-view-container .goal-item .content-container {
      flex: 1;
      position: relative;
      padding: 1em;
      margin-left: 2em; }
    .goal-view-container .goal-item .goal-title-container {
      float: left;
      width: 50%; }
    .goal-view-container .goal-item .date-container {
      float: right;
      width: 50%; }
    .goal-view-container .goal-item h3 {
      color: rgba(51, 54, 68, 0.4);
      font-size: 1em;
      font-weight: 600;
      margin: 0.5em 0; }
    .goal-view-container .goal-item .desc-container {
      clear: both;
      padding-top: 1em; }
    .goal-view-container .goal-item input, .goal-view-container .goal-item textarea {
      font-family: "Helvetica";
      font-weight: 300;
      background: transparent;
      height: auto;
      padding: 10px;
      margin-left: 10%;
      border: 1px solid transparent;
      color: #808080;
      outline: 0;
      -webkit-transition: border 0.3s; }
    .goal-view-container .goal-item input {
      font-size: 1.5em;
      width: 80%; }
    .goal-view-container .goal-item input[type=date] {
      padding: 5px; }
    .goal-view-container .goal-item textarea {
      font-size: 1em;
      width: 90%;
      margin: 0 5%;
      height: 5em;
      resize: none; }
    .goal-view-container .goal-item .button-container {
      position: absolute;
      top: 0;
      right: 1em;
      display: flex;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: opacity 0.5s; }
      .goal-view-container .goal-item .button-container .button {
        padding: 1em;
        -webkit-transition: background 0.5s;
        cursor: pointer; }
        .goal-view-container .goal-item .button-container .button:hover {
          background: #d9d9d9; }
        .goal-view-container .goal-item .button-container .button div {
          width: 1em;
          height: 1em;
          background-size: contain; }
        .goal-view-container .goal-item .button-container .button.edit > div {
          background-image: url("../resources/edit-icon.png"); }
        .goal-view-container .goal-item .button-container .button.delete > div {
          background-image: url("../resources/delete-icon.png"); }
        .goal-view-container .goal-item .button-container .button.tick > div {
          background-image: url("../resources/tick-icon.png"); }
  .goal-view-container .add-goal {
    position: relative;
    font-size: 2em;
    font-weight: 300;
    color: #808080;
    padding: 0.5em;
    -webkit-transition: background 0.3s;
    cursor: pointer; }
    .goal-view-container .add-goal:hover {
      background: #d9d9d9; }
    .goal-view-container .add-goal .add-button {
      float: left;
      height: 1em;
      width: 110px;
      margin-right: 1em;
      background-image: url("../resources/add-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

/*# sourceMappingURL=goal.css.map */
