*{
	margin: 0;
	padding: 0;

	border: 0;
}

body,
.graph,
.globalContainer,
.titleContainer,
.graphContainer,
.column{
	background: rgba(0,0,0,0.2);
}


html,
body{
	width: 100%;
	height: 100%;
}




.globalContainer{
	display: flex;
	overflow: scroll;

	width: 100%;
	height: 100%;
}

.column{
	display: flex;
	flex: none;
	flex-direction: column;

	margin: 1em;
}

.titleContainer{
	flex: none;

	padding: 1em;
}

.graphContainer{
	display: flex;
	overflow: scroll;
	flex-direction: column;

	padding: 0.5em;
}

.graph{
	position: relative;
	flex: none;

	margin: 0.5em;
}

.graph svg{
	width: 300px;
	height: 200px;
}

.graph path{
	fill: none;
}

.axis.x path{
	stroke: black;
}

.axis .tick line{
	stroke: black;
}


.line{
	stroke-width: 1;
	fill: none;

	opacity: 1;
	-webkit-transition: opacity 0.5s;
}

path.line.hidden{
	/*more selector to force override*/
	opacity: 0;
}



.legend{
	position: absolute;
	top: 0;
	left: 0;

	list-style: none;

	opacity: 0;

	-webkit-transition: opacity 0.5s;
}

.graph:hover .legend{
	opacity: 1;
}

.legend .item{
	display: table;

	margin: 1em;

	cursor: pointer;
}

.legend .color{
	display: inline-block;

	width: 15px;
	height: 15px;
	margin-right: 0.5em;

	border: 3px solid;

	-webkit-transition: background 0.5s;
}

.item.hidden .color{
	background: transparent;
}

.legend .label{
	display: table-cell;

	vertical-align: middle;
}

.series0 .color,
.series0.line{
	background: #1f77b4;

	stroke: #1f77b4;

	border-color: #1f77b4;
}

.series1 .color,
.series1.line{
	background: #ff7f0e;

	stroke: #ff7f0e;

	border-color: #ff7f0e;
}

.series2 .color,
.series2.line{
	background: #2ca02c;

	stroke: #2ca02c;

	border-color: #2ca02c;
}

.series3 .color,
.series3.line{
	background: #d62728;

	stroke: #d62728;

	border-color: #d62728;
}
