* {
  margin: 0;
  padding: 0;
  border: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Avenir Next',sans-serif;
  background: #ededed; }

.globalContainer {
  width: 100%;
  height: 100%;
  overflow: scroll; }
  .globalContainer table {
    margin-left: 110px;
    margin-top: 110px;
    margin-bottom: 100px;
    /* 		padding-right:$sidebar-width; */
    border-spacing: 0px;
    /* 		border-collapse:collapse; */
    height: 100%; }
    .globalContainer table td {
      vertical-align: top; }

.corner {
  display: table;
  position: absolute;
  left: 0;
  z-index: 3;
  width: 110px; }
  .corner > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.menuButtonContainer {
  top: 0;
  height: 110px;
  background: #333644;
  color: #f2f2f2;
  box-shadow: -10px -10px 50px 5px rgba(0, 0, 0, 0.5); }
  .menuButtonContainer .menuButton {
    width: 20px;
    height: 20px;
    margin: auto;
    background: url("../resources/menu-icon.png");
    background-size: cover;
    opacity: 0.5; }

.noteLabel {
  bottom: 0;
  background: #f7f7f7;
  height: 100px;
  color: #999999;
  text-transform: uppercase;
  box-shadow: -10px 10px 50px 5px rgba(0, 0, 0, 0.5); }

.test {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  right: -100px;
  top: 0;
  background: steelblue;
  /* 	display:none; */
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s; }

td:last-of-type .test {
  left: -100px; }

.graph:hover .test {
  opacity: 1;
  pointer-events: auto; }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  overflow: scroll;
  box-shadow: -10px 0px 50px 5px rgba(0, 0, 0, 0.5); }
  .sidebar::-webkit-scrollbar {
    display: none; }
  .sidebar .graphTitle {
    width: 110px;
    display: table;
    padding-top: 20px;
    height: 200px;
    background: #ededed;
    color: #999999;
    text-transform: uppercase; }
    .sidebar .graphTitle div {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .sidebar .graphTitle:first-of-type {
      margin-top: 110px; }
    .sidebar .graphTitle:last-of-type {
      padding-bottom: 20px;
      margin-bottom: 100px; }

.h-bar {
  display: flex;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  overflow: scroll;
  /* 	margin-right:$sidebar-width; */ }
  .h-bar .h-container {
    flex: none;
    width: 320px;
    height: 100%; }
    .h-bar .h-container:first-of-type {
      margin-left: 110px; }
    .h-bar .h-container:last-of-type {
      /* 			padding-right:$sidebar-width; */ }

.headbar {
  top: 0;
  box-shadow: 0px -10px 50px 5px rgba(0, 0, 0, 0.5); }
  .headbar::-webkit-scrollbar {
    display: none; }
  .headbar .headerContainer {
    border-left: 1px solid #1e202b; }
    .headbar .headerContainer:first-of-type {
      border-left: 1px solid #333644; }

.noteBar {
  bottom: 0;
  height: 100px;
  box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.5); }
  .noteBar::-webkit-scrollbar {
    display: none; }
  .noteBar .noteContainer {
    border-left: 1px solid #cccccc; }
    .noteBar .noteContainer:first-of-type {
      border-left: 1px solid #f7f7f7; }
    .noteBar .noteContainer div {
      background: #f7f7f7;
      width: 100%;
      height: 100%; }

.titleContainer {
  display: table;
  width: 100%;
  height: 70px;
  background: #333644;
  color: #f2f2f2; }
  .titleContainer > div {
    display: table-cell;
    vertical-align: bottom; }
  .titleContainer h2 {
    text-transform: uppercase;
    text-align: center; }
  .titleContainer h3 {
    text-transform: capitalize;
    font-weight: 200;
    text-align: center; }

.tabContainer {
  display: table;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  height: 40px; }
  .tabContainer .tab {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    /* 		padding:1em 0;		 */
    background: #333644;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer; }
    .tabContainer .tab.active, .tabContainer .tab:hover {
      background: #1e202b; }

.feedContainer {
  background: crimson;
  height: 100%; }

.graphContainer, .feedContainer {
  padding: 20px 0em;
  width: 320px;
  border-left: 1px solid #cccccc; }
  .graphContainer:first-of-type, .feedContainer:first-of-type {
    border-left: 1px solid #ededed; }

.graph {
  position: relative;
  height: 200px;
  margin: 20px 10px;
  background: #f7f7f7;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
  border-spacing: 0px;
  border-collapse: collapse; }
  .graph:first-of-type {
    margin-top: 0px; }
  .graph:last-of-type {
    margin-bottom: 0px; }
  .graph:hover .legend {
    opacity: 1; }
  .graph:hover .x.axis {
    opacity: 1; }
  .graph svg {
    width: 300px;
    height: 200px; }
    .graph svg .axis.x {
      opacity: 0;
      -webkit-transition: opacity 0.5s; }
      .graph svg .axis.x text {
        font-size: 10pt; }
      .graph svg .axis.x path {
        stroke: transparent; }
    .graph svg .axis.y line {
      stroke-dasharray: 3,3; }
    .graph svg .axis text {
      fill: #999999; }
    .graph svg .axis .tick line {
      stroke: #cccccc; }
    .graph svg .line {
      opacity: 1;
      stroke-width: 2;
      fill: none;
      -webkit-transition: opacity 0.5s; }
    .graph svg path.line.hidden {
      /*more selector to force override*/
      opacity: 0; }
  .graph path {
    fill: none; }
  .graph .legend {
    position: absolute;
    top: 0;
    left: 300px;
    padding: 0.5em 0;
    z-index: 1;
    opacity: 0;
    list-style: none;
    background: #333644;
    color: #f2f2f2;
    -webkit-transition: opacity 0.5s; }
    .graph .legend .item {
      display: table;
      padding: 0.5em 1em;
      text-transform: capitalize;
      cursor: pointer;
      background: transparent;
      -webkit-transition: background 0.5s; }
      .graph .legend .item:hover {
        background: #1e202b; }
      .graph .legend .item.hidden .color {
        background: transparent; }
      .graph .legend .item .color {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 0.5em;
        border-width: 3px;
        border-style: solid;
        -webkit-transition: background 0.5s; }
      .graph .legend .item .label {
        display: table-cell;
        vertical-align: middle; }

.series0 .color, .series0.line {
  background: #69c3dd;
  stroke: #69c3dd;
  border-color: #69c3dd; }

.series1 .color, .series1.line {
  background: #f7ca2e;
  stroke: #f7ca2e;
  border-color: #f7ca2e; }

.series2 .color, .series2.line {
  background: #fc6c6e;
  stroke: #fc6c6e;
  border-color: #fc6c6e; }

.series3 .color, .series3.line {
  background: #4cb7ae;
  stroke: #4cb7ae;
  border-color: #4cb7ae; }

.series4 .color, .series4.line {
  background: #7b69dd;
  stroke: #7b69dd;
  border-color: #7b69dd; }

/*# sourceMappingURL=index.css.map */
