*{
	margin:0;
	padding:0;
	border-width:0;
}
.line{
	fill:none;
	stroke-width:2;
}

svg{
	background: lightgray;
}

.legend{
	position:absolute;
	top:0;
	left:0;

	list-style:none;	
}

.legend .item{
	display:table;
	margin:1em;
}

.legend .color{
	display:inline-block;
	background:steelblue;
	width:20px;
	height:20px;
	margin-right:0.5em;
}

.legend .label{
	display:table-cell;
	vertical-align:middle;
}