$svg-width:300px;
$svg-height:200px;
$title-height:70px;
$tab-height:40px;
$header-height:$tab-height+$title-height;
$note-bar-height:100px;
$graph-height:300px;
$sidebar-width:200px;
$legend-color-size:15px;

$z-legend:1;
$z-side:2;
$z-corner:3;

$graph-margin-h:10px;
$column-width:$svg-width+2*$graph-margin-h;


$primary-color:#333644;
$primary-color-dark:#1e202b;
$primary-color-highlight:$primary-color-dark;
$text-color:#f2f2f2;
$text-color-fade:#808080;
$background-color:#ededed;
$background-color-graph:#f7f7f7;
$axis-color:darken($background-color-graph,20%);
$axis-text-color:darken($axis-color,20%);


*{
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body{
	width: 100%;
	height: 100%;
}

body{
	font-family:'Avenir Next',sans-serif;
	background:$background-color;
}


.globalContainer{	
	width: 100%;
	height: 100%;
	overflow:scroll;

	table{	
		
		margin-left:$sidebar-width;
		margin-top:$header-height;
		margin-bottom:$note-bar-height;
		padding-right:$sidebar-width;
		border-spacing:0px;
/* 		border-collapse:collapse; */
		height:100%;

		td{
			background:darkgray;
			vertical-align:top;
		}

	}

}

.corner{
	display:table;

	position:absolute;
	left:0;
	
	z-index:$z-corner;
	
	width:$sidebar-width;
	
	
	

	& > div{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

}

.menuButton{
	top:0;
	height:$header-height;
	background:$primary-color-dark;
	color:$text-color;
}

.noteLabel{
	bottom:0;
	background:gray;
	height:$note-bar-height;
}

.test{
	width:100px;
	height:100px;
	position:absolute;
	z-index:$z-legend;
	right:-100px;
	top:0;
	background:steelblue;
}


.sidebar{
	position:absolute;
	top:0;
	left:0;
	z-index:$z-side;	

	height:100%;
	overflow:scroll;
	

	
	.graphTitle{
		width:$sidebar-width;
		display:table;
		padding-top:20px;
		height: $svg-height;
		background:darkgray;
		div{
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			border:1px solid;
		}

		&:first-of-type{
			margin-top:$header-height;
		}

		&:last-of-type{
			padding-bottom:20px;
			margin-bottom:$note-bar-height;
		}
	}
		
}



.h-bar{
	display:flex;
	position:absolute;
	left:0;	
	z-index:$z-side;
	width:100%;
	overflow:scroll;
/* 	margin-right:$sidebar-width; */
	.h-container{
		flex:none;
		width:$column-width;	
		height:100%;	
		&:first-of-type{
			margin-left:$sidebar-width;
		}
		&:last-of-type{
			padding-right:$sidebar-width;
		}
	}
}

.headbar{
	top:0;
	.headerContainer{
		border-left:1px solid red;
	}
}

.noteBar{
	bottom:0;
	height:$note-bar-height;
	
	.noteContainer{
		border-left:1px solid red;				

		div{
			background:steelblue;
			width:100%;
			height:100%;
		}
	}
}




.titleContainer{
	display:table;
	width:100%;

	& > div{
		display:table-cell;
		vertical-align:bottom;
	}	height:$title-height;	

	background:$primary-color;
	color:$text-color;
	

	h2{		
		text-transform:uppercase;
		text-align:center;

	}

	h3{
		text-transform:capitalize;

		font-weight:200;

		text-align:center;
	}

	
}

.tabContainer{
	display:table;	
	width:100%;

	color:$text-color;
	text-align:center;
	height:$tab-height;

	
	
		
	.tab{
		display:table-cell;		
		width:50%;	
		height:100%;
		vertical-align:middle;
/* 		padding:1em 0;		 */


		background:$primary-color;

		text-transform:uppercase;		

		cursor:pointer;

/* 		&:first-of-type{
			float:left;
		}		 */

		&.active, &:hover{
			background:$primary-color-highlight;
		}


		
	}

	
	
}

.feedContainer{
	background:crimson;
	height:100%;	
}

.graphContainer, .feedContainer{
	padding: 20px 0em;
	width:$column-width;
	border-left:1px solid red; //darken($background-color, 10%);
	
}


.graph{
	flex: none;

	position: relative;

	height:$svg-height;//why have to force the height?
	
	margin: 20px 10px;


	background:$background-color-graph;

	box-shadow:0 3px 3px 0px rgba(0,0,0,0.2);


	border-spacing:0px;
	border-collapse:collapse;

	&:first-of-type{
		margin-top:0px;
	}

	&:last-of-type{
		margin-bottom:0px;
	}
	

	&:hover{
		.legend{
			opacity: 1;
		}

		.x.axis{
			opacity:1;
		}
	}

	svg{
		width: $svg-width;
		height: $svg-height;

		.axis{
			
			&.x {
				opacity:0;

				-webkit-transition:opacity 0.5s;

				text{
					font-size:10pt;
				}

				path{
					stroke: transparent;
				}
			}

			&.y{
				line{
					stroke-dasharray: 3,3;
				}
			}
			
			text{
				fill:$axis-text-color;
			}

			.tick line{
				stroke: $axis-color;
			}
		}

		.line{
			opacity: 1;

			stroke-width: 2;
			fill: none;

			-webkit-transition: opacity 0.5s;
		}

		path.line.hidden{
			/*more selector to force override*/
			opacity: 0;
		}
	}

	path{
		fill: none;
	}
	
	.legend{
		position: absolute;
		top: 0;
		left: $svg-width;

		padding: 0.5em 0;		

		z-index:1;

		opacity: 0;

		list-style: none;

		background:$primary-color;
		color:$text-color;

		-webkit-transition: opacity 0.5s;

		.item{
			display: table;

			padding: 0.5em 1em;

			text-transform:capitalize;

			cursor: pointer;

			background:transparent;

			-webkit-transition: background 0.5s;

			&:hover{
				background:$primary-color-highlight;
			}

			&.hidden .color{
				background: transparent;
			}

			.color{
				display: inline-block;

				width: $legend-color-size;
				height: $legend-color-size;
				margin-right: 0.5em;

				border-width:3px;
				border-style:solid;

				-webkit-transition: background 0.5s;
			}

			.label{
				display: table-cell;

				vertical-align: middle;
			}
		}
		



		
	}

	

}


$series-list: #69c3dd, 
#f7ca2e, 
#fc6c6e, 
#4cb7ae,
#7b69dd;

@each $color in $series-list{
	$i: index($series-list, $color);
	.series#{$i - 1} {
		.color, &.line{
			background: $color;
			stroke:  $color;
			border-color:  $color;
		}

	}
}


