@import 'global.scss';

*{
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body{
	width: 100%;
	height: 100%;
}

body{
	font-family:'Helvetica Neue',sans-serif;
	background:$background-color;
}

.global-view-container{
	height:100%;
	width:100%;
}

.graph-view-container{	
	width: 100%;
	height: 100%;
	overflow:scroll;

	table{	
		
		margin-left:$side-bar-width;
		margin-top:$header-height;
		margin-bottom:$note-bar-height;
/* 		padding-right:$side-bar-width; */
		border-spacing:0px;
/* 		border-collapse:collapse; */
		height:100%;

		td{			
			vertical-align:top;
		}

	}

}

.corner{
	display:table;

	position:fixed;
	left:0;
	
	z-index:$z-corner;
	
	width:$side-bar-width;
		
	& > div{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

}

.menu-label{
	top:0;
	height:$header-height;
	background:$primary-color;
	color:$text-color;

	@include shadow(-10px, -10px);

	.menu-button{
		width:20px;
		height:20px;
		margin: auto;
		
		background:url("../resources/menu-icon.png");
		background-size:cover;

		opacity:0.5;

		cursor: pointer;

		-webkit-transition:opacity 0.5s;
	}

	.menu{
		position:absolute;
		top:$header-height;
		left:0;

		width:$side-bar-width;		

		background:$primary-color;		
		list-style:none;

		@include border(top, $primary-color-dark);

		text-align:center;

		a{
			display:block;
			padding:1em 0;
			color:$text-color;
			text-decoration:none; 
			text-transform:uppercase;

			cursor:pointer;

			&:hover{
				background:$primary-color-dark;
			}
		}

		opacity:0;
		pointer-events:none;
		-webkit-transition:opacity 0.5s;
	}

	&.active{
		.menu-button{
			opacity:1;
		}

		.menu{
			opacity:1;
			pointer-events:auto;
		}
	}
}

.note-label{
	bottom:0;
	background:$background-color-note;
	height:$note-bar-height;
	color:$text-color-side;
	text-transform:uppercase;

	@include shadow(-10px,10px);
}



.side-bar{
	position:absolute;
	top:0;
	left:0;
	z-index:$z-side;	

	height:100%;
	overflow:scroll;
	
	@include shadow(-10px, 0px);

	&::-webkit-scrollbar{
		display:none;
	}

	.graph-title{
		width:$side-bar-width;
		display:table;
		padding-top:20px;
		height: $svg-height;

		background:$background-color;
		color:$text-color-side;
		text-transform:uppercase;
		
		div{
			display:table-cell;
			vertical-align:middle;
			text-align:center;			
		}

		&:first-of-type{
			margin-top:$header-height;
		}

		&:last-of-type{
			padding-bottom:20px;
			margin-bottom:$note-bar-height;
		}
	}
		
}



.h-bar{
	display:flex;
	position:absolute;
	left:0;	
	z-index:$z-side;
	width:100%;
	overflow:scroll;
/* 	margin-right:$side-bar-width; */
	.h-container{
		flex:none;
		width:$column-width;	
		height:100%;	
		&:first-of-type{
			margin-left:$side-bar-width;
		}
		&:last-of-type{
/* 			padding-right:$side-bar-width; */
		}
	}
}

.header-bar{
	top:0;
	@include shadow(0px, -10px);

	&::-webkit-scrollbar{
		display:none;		
	}

	.header-container{
		@include border(left,$primary-color-dark);
		&:first-of-type{
			@include border(left,$primary-color);
		}
	}
}

.note-bar{
	bottom:0;
	height:$note-bar-height;
	
	@include shadow(0px, 10px);	

	&::-webkit-scrollbar{
		display:none;
	}

	.note-container{
		@include border(left);

		overflow:scroll;

		background:$background-color-note;

		&:first-of-type{
			@include border(left, $background-color-note);
		}

		&:hover .add-note{
			opacity: 1;
			pointer-events:auto;

		}

	}


}


.note{	
	@include border(bottom, $border-color-note);

	.note-content{
		position:relative;

		font-size:1em;
		font-weight:300;		

		color:$text-color-note-title;

		&:hover .button-container{
			opacity:1;
			pointer-events:auto;
		}
	}

	.short{
		display:flex;
		width:100%;		
		
		.date{
			flex:none;
			padding:0.5em;	
		}

		.title{
			flex:1;		
			
			padding:0.5em;	

			text-overflow:ellipsis;
			overflow:hidden;
			white-space: nowrap;	
		}

		.result-indicator{
			flex:none;
			width:10%;			

			display:flex;
			justify-content:center;

			& > div{
				width:70%;				
				background-repeat:no-repeat;
				background-position:center;
				background-size:contain;	
			}

			&.up > div{
				background-image:url('../resources/up-icon.png');
			}
			&.down > div{
				background-image:url('../resources/down-icon.png');
			}
			&.flat > div{
				background-image:url('../resources/flat-icon.png');
			}
			
		}
	}

	.long{		
		padding:0 0.25em;
		.button-container{
			height:2em;
		}

		form{
			width:100%;
			height:100%;	
		}

		input,textarea, select{
			display:block;
			padding:0.25em;
			font-size:1em;		
			font-family:"Helvetica Neue";
			font-weight:300;
			background:transparent;

			width:100%;

			color:inherit;
			&:hover{
				background:$background-color-note-form-hover;
			}
			&:focus{
				outline:0;
				background:$background-color-note-form-focus;
			}

		}
		input[type=date]{
			width:auto;
			padding:0.25em;
		}
		textarea{			
			resize:none;
		}		
	}
	

	.button-container{	
		display:flex;	
		position:absolute;
		top:0;
		right:0;
		background:rgba($background-color-note-button,0.7);
		height:100%;

		opacity:0;
		pointer-events:none;

		-webkit-transition:opacity 0.3s;
					
		.button{
			display:flex;
			width:2em;
			height:100%;						
			justify-content:center;
			cursor:pointer;

			-webkit-transition:background 0.3s;

			&:hover{
				background:$background-color-note-button-highlight;
			}

			& > div{
				height:100%;
				width:50%;	
				background-repeat: no-repeat;
				background-position:center;
				background-size:contain;	
			}

			&.expand > div{
				background-image:url('../resources/expand-icon.png');
			}
			&.delete > div{
				background-image:url('../resources/delete-icon.png');
			}
			&.tick > div{
				background-image:url('../resources/tick-icon.png');
			}
			
		}
	}
	
}

.add-note{
	position:relative;
	
	font-weight:300;		
	color:$text-color-note-title;	
	padding:0.5em;	

	margin-bottom:1em;
	
	cursor:pointer;

	opacity: 0;
	pointer-events:none;

	-webkit-transition:opacity 0.3s, background 0.3s;

	&:hover{
		background:$background-color-note-button-highlight;
	}

	.add-button{
		float:left;
		height:1em;
		width:1em;
		margin-right:1em;
		background-image:url('../resources/add-icon.png');
		background-repeat: no-repeat;
		background-position:center;
		background-size:contain;	
	}


}

.title-container{
	display:table;
	width:100%;

	& > div{
		display:table-cell;
		vertical-align:bottom;
	}	height:$title-height;	

	background:$primary-color;
	color:$text-color;
	

	h2{		
		text-transform:uppercase;
		text-align:center;

	}

	h3{
		text-transform:capitalize;

		font-weight:200;

		text-align:center;
	}

	
}

.tab-container{
	display:table;	
	width:100%;

	color:$text-color;
	text-align:center;
	height:$tab-height;

	
	
		
	.tab{
		display:table-cell;		
		width:50%;	
		height:100%;
		vertical-align:middle;
/* 		padding:1em 0;		 */


		background:$primary-color;

		text-transform:uppercase;	
		font-size:0.8em;	

		cursor:pointer;


		&.active, &:hover{
			background:$primary-color-highlight;
		}


		
	}

	
	
}




.card-container{
	padding: 20px 0em;
	width:$column-width;
	@include border(left);	
}

.feed-container{
	height:100%;	
	overflow:scroll;
}


td:first-of-type{
	.card-container{
		@include border(left, $background-color);
	}
}

.card{
	position: relative;

	margin: 20px 10px;


	background:$background-color-graph;

	box-shadow:0 3px 3px 0px rgba(0,0,0,0.2);


	border-spacing:0px;
	border-collapse:collapse;

	&:first-of-type{
		margin-top:0px;
	}

	&:last-of-type{
		margin-bottom:0px;
	}
	

}	


.feed{
	padding:1em;
	h2{
		font-size:1.5em;
		font-weight:200;
		color:$text-color-feed-highlight;
	}
	h3{
		font-size:0.8em;
		font-weight:400;
		color:$text-color-feed-fade;		
	}
	p{
		color:$text-color-feed;		
		clear:both;

	}
	.icon{
		height:$column-width / 4;
		float:left;
		margin: 0 1em 1em 0;
	}
}

.graph{

	height:$svg-height;//why have to force the height?
	&:hover{
		.legend{
			opacity: 1;
		}

		.x.axis{
			opacity:1;
		}
	}

	svg{
		width: $svg-width;
		height: $svg-height;

		.axis{
			
			&.x {
				opacity:0;

				-webkit-transition:opacity 0.5s;

				text{
					font-size:10pt;
				}

				path{
					stroke: transparent;
				}
			}

			&.y{
				line{
					stroke-dasharray: 3,3;
				}
			}
			
			text{
				fill:$text-color-axis;
			}

			.tick line{
				stroke: $axis-color;
			}
		}

		.line{
			opacity: 1;

			stroke-width: 2;
			fill: none;

			-webkit-transition: opacity 0.5s;
		}

		path.line.hidden{
			/*more selector to force override*/
			opacity: 0;
		}
	}

	path{
		fill: none;
	}
}


.legend{
	position: absolute;
	top: 0;
	left: $svg-width;

	padding: 0.5em 0;		

	z-index:$z-legend;

	opacity: 0;
	pointer-events:none;

	border-collapse:separate;

	list-style: none;

	background:$primary-color;
	color:$text-color;

	-webkit-transition: opacity 0.5s;	

	.item{
		display: table;

		padding: 0.5em 1em;

		text-transform:capitalize;

		cursor: pointer;

		background:transparent;

		-webkit-transition: background 0.5s;

		&:hover{
			background:$primary-color-highlight;
		}

		&.hidden .color{
			background: transparent;
		}

		.color{
			display: inline-block;

			width: $legend-color-size;
			height: $legend-color-size;
			margin-right: 0.5em;

			border-width:3px;
			border-style:solid;

			-webkit-transition: background 0.5s;
		}

		.label{
			display: table-cell;

			vertical-align: middle;
		}
	}
}

td:last-of-type .legend{
	left:auto;
	right:$svg-width;
}

.graph:hover .legend{
	opacity:1;
	pointer-events:auto;

}


$series-list: #69c3dd, 
#f7ca2e, 
#fc6c6e, 
#4cb7ae,
#7b69dd;

@each $color in $series-list{
	$i: index($series-list, $color);
	.series#{$i - 1} {
		.color, &.line{
			background: $color;
			stroke:  $color;
			border-color:  $color;
		}

	}
}


