$svg-width:300px;
$svg-height:200px;
$title-height:70px;
$tab-height:40px;
$header-height:$tab-height+$title-height;
$note-bar-height:100px;
$graph-height:300px;
$side-bar-width:$header-height;
$legend-color-size:15px;

$z-legend:1;
$z-side:2;
$z-corner:3;

$graph-margin-h:10px;
$column-width:$svg-width+2*$graph-margin-h;


$primary-color:#333644;
$primary-color-dark:#1e202b;
$primary-color-highlight:$primary-color-dark;
$text-color:#f2f2f2;
$text-color-fade:#808080;
$text-color-side:#999999;
$text-color-axis:$text-color-side;
$background-color:#ededed;
$background-color-graph:#f7f7f7;
$background-color-note:$background-color-graph;
$border-color-column:#cccccc;
$axis-color:$border-color-column;



@mixin border($direction,$color:$border-color-column) {
	border-#{$direction}:1px solid $color;
}

@mixin shadow($xoff, $yoff){
	box-shadow:$xoff $yoff 50px 5px rgba(0,0,0,0.5);
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body{
	width: 100%;
	height: 100%;
}

body{
	font-family:'Avenir Next',sans-serif;
	background:$background-color;
}


.global-container{	
	width: 100%;
	height: 100%;
	overflow:scroll;

	table{	
		
		margin-left:$side-bar-width;
		margin-top:$header-height;
		margin-bottom:$note-bar-height;
/* 		padding-right:$side-bar-width; */
		border-spacing:0px;
/* 		border-collapse:collapse; */
		height:100%;

		td{			
			vertical-align:top;
		}

	}

}

.corner{
	display:table;

	position:absolute;
	left:0;
	
	z-index:$z-corner;
	
	width:$side-bar-width;
		
	& > div{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

}

.menu-label{
	top:0;
	height:$header-height;
	background:$primary-color;
	color:$text-color;

	@include shadow(-10px, -10px);

	.menu-button{
		width:20px;
		height:20px;
		margin: auto;
		
		background:url("../resources/menu-icon.png");
		background-size:cover;

		opacity:0.5;
	}
}

.note-label{
	bottom:0;
	background:$background-color-note;
	height:$note-bar-height;
	color:$text-color-side;
	text-transform:uppercase;

	@include shadow(-10px,10px);
}

/* .test{
	width:100px;
	height:100px;
	position:absolute;
	z-index:$z-legend;
	right:-100px;
	top:0;
	background:steelblue;
// 	display:none;
	opacity:0;
	pointer-events:none;
	-webkit-transition:opacity 0.5s;
}
 
td:last-of-type .test{
	left:-100px;
}


.graph:hover .test{
	opacity:1;
	pointer-events:auto;

}*/

.side-bar{
	position:absolute;
	top:0;
	left:0;
	z-index:$z-side;	

	height:100%;
	overflow:scroll;
	
	@include shadow(-10px, 0px);

	&::-webkit-scrollbar{
		display:none;
	}

	.graph-title{
		width:$side-bar-width;
		display:table;
		padding-top:20px;
		height: $svg-height;

		background:$background-color;
		color:$text-color-side;
		text-transform:uppercase;
		
		div{
			display:table-cell;
			vertical-align:middle;
			text-align:center;			
		}

		&:first-of-type{
			margin-top:$header-height;
		}

		&:last-of-type{
			padding-bottom:20px;
			margin-bottom:$note-bar-height;
		}
	}
		
}



.h-bar{
	display:flex;
	position:absolute;
	left:0;	
	z-index:$z-side;
	width:100%;
	overflow:scroll;
/* 	margin-right:$side-bar-width; */
	.h-container{
		flex:none;
		width:$column-width;	
		height:100%;	
		&:first-of-type{
			margin-left:$side-bar-width;
		}
		&:last-of-type{
/* 			padding-right:$side-bar-width; */
		}
	}
}

.header-bar{
	top:0;
	@include shadow(0px, -10px);

	&::-webkit-scrollbar{
		display:none;		
	}

	.header-container{
		@include border(left,$primary-color-dark);
		&:first-of-type{
			@include border(left,$primary-color);
		}
	}
}

.note-bar{
	bottom:0;
	height:$note-bar-height;
	
	@include shadow(0px, 10px);	

	&::-webkit-scrollbar{
		display:none;
	}

	.note-container{
		@include border(left);

		&:first-of-type{
			@include border(left, $background-color-note);
		}

		div{
			background:$background-color-note;
			width:100%;
			height:100%;
		}


	}


}




.title-container{
	display:table;
	width:100%;

	& > div{
		display:table-cell;
		vertical-align:bottom;
	}	height:$title-height;	

	background:$primary-color;
	color:$text-color;
	

	h2{		
		text-transform:uppercase;
		text-align:center;

	}

	h3{
		text-transform:capitalize;

		font-weight:200;

		text-align:center;
	}

	
}

.tab-container{
	display:table;	
	width:100%;

	color:$text-color;
	text-align:center;
	height:$tab-height;

	
	
		
	.tab{
		display:table-cell;		
		width:50%;	
		height:100%;
		vertical-align:middle;
/* 		padding:1em 0;		 */


		background:$primary-color;

		text-transform:uppercase;	
		font-size:0.8em;	

		cursor:pointer;


		&.active, &:hover{
			background:$primary-color-highlight;
		}


		
	}

	
	
}

.feed-container{
	background:crimson;
	height:100%;	
	padding: 20px 0em;
	width:$column-width;
	@include border(left);	
}



.card-container{
	padding: 20px 0em;
	width:$column-width;
	@include border(left);	
}

td:first-of-type{
	.card-container{
		@include border(left, $background-color);
	}
}

.card{
	position: relative;

	height:$svg-height;//why have to force the height?
	
	margin: 20px 10px;


	background:$background-color-graph;

	box-shadow:0 3px 3px 0px rgba(0,0,0,0.2);


	border-spacing:0px;
	border-collapse:collapse;

	&:first-of-type{
		margin-top:0px;
	}

	&:last-of-type{
		margin-bottom:0px;
	}
	

}	


.graph{


	&:hover{
		.legend{
			opacity: 1;
		}

		.x.axis{
			opacity:1;
		}
	}

	svg{
		width: $svg-width;
		height: $svg-height;

		.axis{
			
			&.x {
				opacity:0;

				-webkit-transition:opacity 0.5s;

				text{
					font-size:10pt;
				}

				path{
					stroke: transparent;
				}
			}

			&.y{
				line{
					stroke-dasharray: 3,3;
				}
			}
			
			text{
				fill:$text-color-axis;
			}

			.tick line{
				stroke: $axis-color;
			}
		}

		.line{
			opacity: 1;

			stroke-width: 2;
			fill: none;

			-webkit-transition: opacity 0.5s;
		}

		path.line.hidden{
			/*more selector to force override*/
			opacity: 0;
		}
	}

	path{
		fill: none;
	}
}


.legend{
	position: absolute;
	top: 0;
	left: $svg-width;

	padding: 0.5em 0;		

	z-index:$z-legend;

	opacity: 0;
	pointer-events:none;

	border-collapse:separate;

	list-style: none;

	background:$primary-color;
	color:$text-color;

	-webkit-transition: opacity 0.5s;



	.item{
		display: table;

		padding: 0.5em 1em;

		text-transform:capitalize;

		cursor: pointer;

		background:transparent;

		-webkit-transition: background 0.5s;

		&:hover{
			background:$primary-color-highlight;
		}

		&.hidden .color{
			background: transparent;
		}

		.color{
			display: inline-block;

			width: $legend-color-size;
			height: $legend-color-size;
			margin-right: 0.5em;

			border-width:3px;
			border-style:solid;

			-webkit-transition: background 0.5s;
		}

		.label{
			display: table-cell;

			vertical-align: middle;
		}
	}
}

td:last-of-type .legend{
	left:auto;
	right:$svg-width;
}

.graph:hover .legend{
	opacity:1;
	pointer-events:auto;

}


$series-list: #69c3dd, 
#f7ca2e, 
#fc6c6e, 
#4cb7ae,
#7b69dd;

@each $color in $series-list{
	$i: index($series-list, $color);
	.series#{$i - 1} {
		.color, &.line{
			background: $color;
			stroke:  $color;
			border-color:  $color;
		}

	}
}


