<div class="goal-view-container">
	<div class="page-title-container">
		
		<h1 class="title">Goals</h1>
		
	</div>
	<div class="goal-list">
		<div class="goal-item" ng-repeat="num in [1,2,3]">
			<div class="goal-index">
				<h2>1</h2>
			</div>
			<div class="content-container">
				<form>
					<div class="goal-title-container">
						<h3 class="label">Title</h3>
						<input type="text" value="Lorem ipsum dolor sit amet, ">
					</div>
					<div class="date-container">
						<h3 class="label">Date</h3>
						<input type="date" value="2013-02-13"></input>
					</div>
					<div class="desc-container">
						<h3 class="label">Description</h3>
						<textarea row="8">Lorem ipsum dolor sit amet, qui id homero sanctus, pro ne veritus ponderum. Ubique cetero concludaturque pri et. Cum liber decore tincidunt id, ius cu ridens labores urbanitas. Soleat temporibus consequuntur est id. Postea numquam maiorum est et, te his saepe diceret detraxit.</textarea>
					</div>
				</form>
				<div class="button-container">
					<div class="button"></div>
					<div class="button"></div>
				</div>
			</div>
		</div>
		
		
	</div>
	
</div>