<div class="note-label corner" >
	<div>Notes</div>
</div>

<sidebar data="data"></sidebar>	

<headerbar></headerbar>

<notebar></notebar>

<div class="graph-view-container">		
	<table>
		<tr>				
			<td ng-repeat="columnData in data" ng-controller="ColumnCtrl as columnCtrl">
				<div class="card-container" ng-show="columnCtrl.isGraphVisible()">
					<div graph class="graph card" data="graphData" ng-repeat="graphData in columnData.graphs"></div>
				</div>

				<div class="card-container feed-container" ng-show="!columnCtrl.isGraphVisible()">	
					<div feed class="feed card" data="feedData" ng-repeat="feedData in columnCtrl.feedsData"></div>
				</div>
			</td>
			
		</tr>
	</table>
</div>