<div class="note-bar h-bar" >
	<div class="place-holder"></div>
	<div class="note-container h-container" ng-repeat="columnData in data" ng-controller="NoteListCtrl as noteListCtrl" ng-show="graphTableCtrl.isColumnVisible($index)">
		<div class="note" ng-controller="NoteCtrl as noteCtrl" ng-repeat="noteData in noteListCtrl.allNoteData">
			<div class="short note-content" ng-hide="noteCtrl.isExpanded">
			<!-- <div class="short note-content" > -->
				<div class="date">{{noteData.date | date:'MM/dd/yyyy'}}</div>
				<div class="title">{{noteCtrl.getNoteGoal()}}</div>	
				<div class="result-indicator" ng-class="noteCtrl.getResultTypeClass()">
					<div></div>
				</div>			
				<div class="button-container">					
					<div class="button edit" ng-click="noteCtrl.startEditing()">
						<div></div>
					</div>
					<div class="button delete" ng-click="noteListCtrl.tryDeleteNote($index)">
						<div></div>
					</div>
				</div>
			</div>		
			<div class="long note-content" ng-show="noteCtrl.isExpanded">				
				<form action="" id="note-form">
					<input type="date" name="date" ng-model="noteData.date">					
					<select form="note-form" ng-model="noteData.goalId">
						<option value="-1" disabled ng-selected="noteCtrl.isDefaultOptionSelected()">Select the goal you want to achieve</option>
						<option value="{{goal.id}}" ng-selected="noteCtrl.isGoalSelected(goal)" ng-repeat="goal in globalCtrl.allGoalData">{{goal.title}}</option>						
					</select>
					
					<textarea name="activity" rows="3" ng-model="noteData.activity" placeholder="Describe your activity"></textarea>
					<div class="result-container">
						<div class="result-indicator"  ng-class="noteCtrl.getResultTypeClass()" ng-click="noteCtrl.switchResultType()">
							<div></div>
						</div>
						<input type="text" ng-model="noteData.result" placeholder="What is the outcome?">
					</div>
				</form>
				<div class="button-container">					
					<div class="button tick" ng-click="noteCtrl.saveEditing()">
						<div></div>
					</div>
					<div class="button delete" ng-click="noteCtrl.cancelEditing()">
						<div></div>
					</div>
				</div>
			</div>
		</div>		
		<div class="add-note" ng-click="noteListCtrl.addNewNote()">
			<div class="add-button"></div>
			<div>New Note</div>
		</div>			
	</div>		

</div>