<div class="note-bar h-bar" >
	<div class="note-container h-container" ng-repeat="columnData in data">
		<div class="note">
			<div class="short note-content">
				<div class="date">1422921600</div>
				<div class="title">Lorem ipsum dolor sit amet,</div>
				<div class="button-container">					
					<div class="button expand">
						<div></div>
					</div>
					<div class="button delete">
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="note">
			<div class="short note-content">
				<div class="date">1422921600</div>
				<div class="title">Lorem ipsum dolor sit amet,</div>
				<div class="button-container">					
					<div class="button expand">
						<div></div>
					</div>
					<div class="button delete">
						<div></div>
					</div>
				</div>
			</div>
		</div>		
		<div class="note">			
			<div class="long note-content">				
				<form action="">
					
					<input type="date" class="date">
					<input type="text" name="title" class="title" value="Lorem ipsum dolor sit amet, ius dicat">
					
					<textarea name="note" rows="3">Lorem ipsum dolor sit amet, ius dicat sapientem rationibus at, nam at vide nullam petentium. Te pro eirmod eligendi, mea eu tritani fabellas antiopam, no minim propriae invidunt cum.</textarea>
					<input type="text" name="result"  value="Lorem ipsum dolor sit amet, ius dicat">
				</form>
				<div class="button-container">					
					<div class="button tick">
						<div></div>
					</div>
				</div>
			</div>
		</div>		

	</div>		
</div>