<div class="header-bar h-bar">		
	<div class="header-container h-container" ng-repeat="columnData in data" ng-controller="HeaderColumnCtrl as headerColumnCtrl">
		<div class="title-container">
			<div>
				<h2>{{columnData.date_range | dateRangeFilter}}</h2>
				<h3>200 Posts</h3>
			</div>
		</div>
		<div class="tab-container">						
			<div class="tab" ng-class="{active: headerColumnCtrl.isGraphVisible()}" ng-click="headerColumnCtrl.setGraphVisible(true)">Activity Graph</div>
			<div class="tab" ng-class="{active: !headerColumnCtrl.isGraphVisible()}" ng-click="headerColumnCtrl.setGraphVisible(false)">Feed</div>
		</div>
	</div>		
</div>